@import "tailwindcss";
@import '@fontsource/russo-one'; 
@import '@fontsource/roboto-mono';

* {
  margin: 0;
  padding: 0;
}

:root {
  font-family: 'Russo One', Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

body {
  width: 100%;
  margin: 0;
  display: flex;
  place-items: center;
  text-align: center;
}

.img-container {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  height: 18rem;
  width: 64rem; /* adjust as needed */
  position: relative;
  width: 100%;
}

img {
  height: 24rem;
  clip-path: inset(100px 20px 120px 20px); /* top right bottom left */
}

body {
  background: oklch(20.5% 0 0);
  height: 100vh;
}

#root {
  width: 100%;
  height: 100vh;
  color: oklch(98.5% 0 0);
}

p {
  margin-top: 1rem;
  color: oklch(70.8% 0 0);
}